.navbar {
  padding-bottom: 0rem;
  margin-bottom: 1rem;
}

.search-image {
  width: 100%;
}

.poster-div {
  width: 50%;
  margin-left: 4rem;
  margin-top: 1rem;
  font-size: 1rem;
}

#drama-suggestions {
  display: none;
}

#comedy-suggestions {
  display: none;
}
